*{
  font-family: "Work Sans", sans-serif;
}
.amazon-header {
  background-color: rgb(19, 25, 33);
  color: white;
  padding:0px 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 999;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
}

.nav-in-text{
  margin-top: 7px;
  padding: 2px;
  font-size: 14px;
  color: aliceblue;
}

.amazon-header-left-section {
  width: 140px;
}

.landing-search-options{
  background-color: rgb(184, 184, 184);
  border: none;
  width: 70px;
  font-family: "Work Sans", sans-serif;
  border-radius: 4px 0px 0px 4px;
  box-shadow: none;
  &:focus{
    border: none;
    outline: none;
  }
}

.amazon-header-left-second{
  display: flex;
  border: none;
  flex-direction: column;
  /* align-items: center; */
  justify-content: center;
  width: 180px;
  background-color: transparent;
  color: #ffffff;
  height: 50px;
  border-radius: 2px;
  &:hover{
    border: 1.5px solid rgb(255, 255, 255);
  }
}

.delivery-location{
  font-size: 12px;
  margin: 2px 0px ;
  color: rgb(206, 202, 202);
  padding: 4px 5px 0px 7px ;
}

.update-location{
  font-size: 15px;
  margin: 0px;
  padding: 4px  ;
  margin-bottom: 3px;
  display: block;            /* Ensure the element behaves like a block for better control */
  max-width: 100%;           /* Adjust width as needed */
  max-height: 4.8em;         /* Adjust based on font size and line height */
  overflow: hidden;          /* Hide overflowing content */
  text-overflow: ellipsis;   /* Adds "..." for overflowed text */
  white-space: nowrap;  
}

.amazon-header-right-second{
  text-decoration: none;
  color:white ;
  height: 50px;
  margin: 0px 2px ;
  border-radius: 2px;
  &:hover{
    border: 1.5px solid rgb(255, 255, 255);
  }
}

.sign-in-nav{
  font-size: 12px;
  margin: 2px 0px 3px 0px;
  padding: 5px 5px 0px;
}

.account-list-nav{
  font-size: 15px;
  margin: 0px;
  padding: 2px 5px;
  margin-bottom: 3px;
}

.header-link {
  display: inline-block;
  padding: 6px;
  display: flex;
  border-radius: 2px;
  cursor: pointer;
  text-decoration: none;
  border: 1px solid rgba(0, 0, 0, 0);
}

.header-link:hover {
  border: 1px solid white;
}

.amazon-logo {
  width: 100px;
  margin-top: 5px;
}

.amazon-mobile-logo {
  display: none;
}

.amazon-header-middle-section {
  flex: 1;
  max-width: 750px;
  margin-left: 10px;
  margin-right: 10px;
  display: flex;
}

.search-bar {
  flex: 1;
  font-family: "Work Sans", sans-serif;
  width: 0;
  font-size: 16px;
  height: 38px;
  padding-left: 15px;
  border: none;
  border-radius: 0px;
}
.search-bar:focus{
  border: none;
  outline: none;
}



.search-button {
  background-color: rgb(254, 189, 105);
  border: none;
  width: 45px;
  height: 40px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  flex-shrink: 0;
}

.search-icon {
  height: 22px;
  margin-left: 2px;
  margin-top: 3px;
}

.amazon-header-right-section {
  width: 170px;
  flex-shrink: 0;
  display: flex;
  justify-content: end;
}

.orders-link {
  height: 40px;
  width: 100px;
  color: white;
}

.orders-text {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  margin: 0px;
  padding: 3px;
  font-size: 15px;
  font-weight: 300;
  color: aliceblue;
}
.orders-text span{
  font-size: 13px;
  color: #ffffff;
}


.cart-link {
  color: white;
  display: flex;
  align-items: center;
  position: relative;
}

.cart-icon {
  width: 40px;
}

.cart-text {
  margin-top: 12px;
  font-size: 15px;
  font-weight: 700;
}

.cart-quantity {
  color: rgb(240, 136, 4);
  font-size: 16px;
  font-weight: 700;

  position: absolute;
  top: 4px;
  left: 16px;
  
  width: 26px;
  text-align: center;
}


/* mobile nav  */


.amazon-header-mobile{
  display: none;
  background-color:  rgb(25, 32, 42);
  height: 50px;
  padding:0px 15px;
  align-items: center;
  justify-content: space-between;
  /* flex-direction: column; */
  /* text-align:right ; */
  z-index: 999;
  position: fixed;
  top: 52px;
  left: 0;
  right: 0;
}

.amazon-header-nav {
  cursor: pointer;
}
.delivery-location-nav{
  color: gray;
  padding-top: 4px;
  font-size: 12px;
}

.update-location-nav{
  width: 170px;
  font-size: 10px;
  color: aliceblue;
  display: block;            /* Ensure the element behaves like a block for better control */
  /* max-width: 100%;           Adjust width as needed */
  max-height: 4.8em;         /* Adjust based on font size and line height */
  overflow: hidden;          /* Hide overflowing content */
  text-overflow: ellipsis;   /* Adds "..." for overflowed text */
  white-space: nowrap;  
}
.hamburger {
  padding: 4px;
  cursor: pointer;
}

.hamburger input {
  display: none;
}

.hamburger svg {
  height: 2.2em;
  transition: transform 600ms cubic-bezier(0.4, 0, 0.2, 1);
}

.line {
  fill: none;
  stroke: white;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: 3;
  transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1),
              stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
}

.line-top-bottom {
  stroke-dasharray: 12 63;
}

.hamburger input:checked + svg {
  transform: rotate(-45deg);
}

.hamburger input:checked + svg .line-top-bottom {
  stroke-dasharray: 20 300;
  stroke-dashoffset: -32.42;
}

.mobile-nav-element{
  display: flex;
  flex-direction: row-reverse;
}

.mobile-nav-element i{
  color: #ffffff;
  font-size: 20px;
  position: relative;
  cursor: pointer;
  top: 10px;
  right: 15px;
}




@media (max-width: 1028px) {
  .amazon-header-left-section {
    width: 100px;
  }

  .landing-search-options{
    width: 70px;
  }

  .amazon-header-left-second{
    width: 15%;
    margin: 0px 5px 0px 25px;
  }
}

@media (max-width: 800px) {
  .amazon-header-left-section {
    width: unset;
  }
  .amazon-header-left-second,.orders-link,.landing-search-options ,.amazon-header-right-second{
    display: none;
  }
  .search-bar {
    border-radius: 3px 0px 0px 3px;
  }

  .cart-quantity {
    color: rgb(240, 136, 4);
    font-size: 16px;
    font-weight: 700;
    position: absolute;
    top: 1px;
    left: 17px;
    width: 26px;
    text-align: center;
  }
  
  .amazon-header-right-section{
    width: 12%;
  }

  .amazon-header-mobile{
    display: flex;
    top: 52px;
    left: 0;
    right: 0;
  }

}

@media (max-width: 575px) {

  .amazon-header {
    height: 50px;
    padding-bottom: 5px;
  }
  .amazon-logo,.nav-in-text,.cart-text{
    display: none;
  }

  .amazon-mobile-logo {
    display: block;
    height: 25px;
    margin-top: 5px;
  }
  .search-icon {
    height: 18px;
    margin-left: 2px;
    margin-top: 3px;
  }
  .amazon-header-right-section{
    width: 12%;
    padding-left: 5px;
    margin-right: -7px;
  }
}


@media (max-width: 375px) {

  .amazon-header-right-section{
    width: 14%;
    padding-left: 5px;
    margin-right: -10px;
  }
}