* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: #0F1111;
    background-color: #FFFFFF;
}

/* Base styles for auth pages */
.auth-container {
    max-width: 350px;
    margin: 0 auto;
    padding: 20px;
}

.logo {
    text-align: center;
    margin-bottom: 18px;
}

.logo img {
    width: 103px;
    height: auto;
}

.auth-box {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 20px 26px;
}

.auth-box h1 {
    font-weight: 400;
    font-size: 28px;
    margin-bottom: 10px;
}

.form-group {
    margin-bottom: 14px;
}

.form-group label {
    display: block;
    padding-bottom: 2px;
    font-weight: 700;
    font-size: 13px;
}

.form-group input {
    width: 100%;
    height: 31px;
    padding: 3px 7px;
    border: 1px solid #a6a6a6;
    border-radius: 3px;
    box-shadow: 0 1px 0 rgba(255,255,255,.5), 0 1px 0 rgba(0,0,0,.07) inset;
    /* outline:1px #024f87 ; */
    transition: 0.3s;
    margin: 5px;
    font-size: 13px;
}

.form-group input:focus {
    border-color: #3F7D88;
    outline-color: #3F7D88;
    box-shadow: 0 0 0px 3px #3F7D88;
}

.auth-button {
    width: 100%;
    height: 31px;
    background: #FFD814;
    border-color: #FCD200;
    border-radius: 15px;
    border: none;
    cursor: pointer;
    font-size: 13px;
}

.auth-button:hover {
    background: #ffd500;
}

.legal-text {
    margin-top: 18px;
    font-size: 12px;
    line-height: 1.5;
}

.legal-text a {
    color: #127181;
    text-decoration: none;
}

.legal-text a:hover {
    color: #c45500;
    text-decoration: underline;
}

.error-message {
    color: #c40000;
    font-size: 12px;
    margin-top: 4px;
}

.auth-form input.error {
    border: 2px solid red;
}

.auth-form input.error:focus {
    box-shadow: 0 0 0px 3px rgba(245, 0, 0, 0.76);
}