* {
    margin: 0px;
    /* box-sizing: border-box; */
    scroll-behavior: smooth;
}

body{
    background-color: #E3E6E6;
    overflow-x: hidden;
}


/* slider */
.homepage-slider {
    /* z-index: 1; */
    top: 60px;
    position: relative;
    width: 100%;
    height: 90vh;
    overflow: hidden;
}

.homepage-slider .slide {
    position: absolute;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    cursor: pointer;
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

.homepage-slider .slide.active {
    opacity: 1;
    cursor: pointer;
}

.amazon-main-page{
  margin-bottom: 60px;
}
/* mask */
.home-mask {
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, #E3E6E6 100%);
    width: 100%;
    position: absolute;
    bottom: 0px;
    z-index: 2;
    height: 50vh;
}


/* product-adv */

.box {
    position: relative;
    top: -35vh;
    border-radius: 3px;
    z-index: 7;
    width: 100%;
    height: 70VH;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    align-items:center ;
    justify-content: center;
}

.item1 ,.item2 ,.item3 ,.item4 ,.item5 , .item6,.item7 ,.item8 {
    width: 23%;
    height: 360px;
    border-radius: 1px;
    background-color: #ffffff;
}


/* adv-section */

.category-heading{
    width: 100%;
    height: 10%;
    font-size: 22px;
    font-weight: 600;
    padding: 5px;
    margin: 10px 0px 5px 10px ;

}

.adv-box{
    cursor: pointer;
    width: 97%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.adv-img{
    width: 130px;
}
.adv-img img{
    height: 90px;
    margin: 4px 4px 0px 4px ;
    width: 140px;
}
.adv-text{
    text-align: start;
    padding: 2px ;
    margin-left: 4px;
    font-size: 12px;
}
.explore-all{
    width: 100%;
    display: flex;
    height: 30px;
    justify-content: start;
}
.explore-all a{
    font-size: 13px;
    color: rgb(3, 115, 184);
    padding: 20px 15px;
    text-decoration: none;
}



  /* products */

  .product-box{
    width: 100%;
    cursor: pointer;
    margin-bottom: 200px;
  }
  .product-heading{
    width: 100%;
    height: 10%;
    font-size: 18px;
    padding: 5px;
    margin: 10px 0px 5px 10px ;
  }

  .product-img{
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .product-img img{
    width: 200px;
  }
  .product-img p{
    width: 280px;
    font-size: 12px;
  }
  .product-price{
    margin: 10px;
    text-align: center;
    width: 100%;
    display: flex;
    align-items: start;
    justify-content: start;
    flex-direction: row;
  }
  .price{
    margin: 0px 5px ;
    font-size: 18px;
    font-weight: 500;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  .price span{
    color: rgb(183, 16, 16);
    font-weight: 400;
    font-size: 14px;
  }

  .product-price p{
    font-size: 12px;
    color: gray;
    font-weight: 400;
  }
  .product-price img{
    width: 40px;
    margin: 2px;
  }
  .product-price p span{
    text-decoration: line-through;
  }


 /* xl */
@media (max-width:1280px) {
  .homepage-slider {
    /* z-index: 1; */
    top: 60px;
    position: relative;
    width: 100%;
    height: 60vh;
    overflow: hidden;
}


.box {
  position: relative;
  top: -20vh;
  border-radius: 3px;
  z-index: 7;
  width: 100%;
  /* height: 70vh; */
  height: fit-content;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;

}

.item1 ,.item2 ,.item3 ,.item4 ,.item5 , .item6,.item7 ,.item8 {
  width: 31%;
  height: 360px;
  border-radius: 1px;
  background-color: #ffffff;
}

.adv-box{
    cursor: pointer;
    width: 97%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.adv-img img{
  height: 90px;
  margin: 4px 4px 0px 4px ;
  width: 130px;
}
.category-heading{
  width: 100%;
  height: 10%;
  font-size: 20px;
  font-weight: 600;
  padding: 5px;
  margin: 10px 0px 5px 10px ;
}


} 

/* lg */
@media (max-width:1024px) {
  .homepage-slider {
    /* z-index: 1; */
    top: 55px;
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}
.homepage-slider .slide {
  position: absolute;
  width: 100vw;
  height: 550px;
  background-size: cover;
}
.home-mask {
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, #E3E6E6 100%);
  width: 100%;
  position: absolute;
  bottom: 0px;
  top: 130px;
  z-index: 2;
  height: 50vh;
}
.box {
  position: relative;
  top: -60vh;
  border-radius: 3px;
  z-index: 7;
  width: 100%;
  height: fit-content;
  display: flex;
  flex-wrap: wrap;

  gap: 20px;
  justify-content: center;
}
.item1 ,.item2 ,.item3 ,.item4 ,.item5 , .item6,.item7 ,.item8 {
  width: 43%;
  height: 360px;
  border-radius: 1px;
  background-color: #ffffff;
}
.product-heading{
  width: 100%;
  height: 10%;
  font-size: 16px;
  padding: 5px;
  margin: 10px 0px 5px 10px ;
}


}

/* md */
@media (max-width:768px) {
  .homepage-slider {
    /* z-index: 1; */
    top: 100px;
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}
  .box {
    position: relative;
    top: -55vh;
    border-radius: 3px;
    z-index: 7;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 17px;
    justify-content: center;
    align-items: center;
  
  }

  .item1 ,.item2 ,.item3 ,.item4 ,.item5 , .item6,.item7 ,.item8 {
    width: 45%;
    height: 360px;
    border-radius: 1px;
    background-color: #ffffff;
  }
  .category-heading{
    width: 100%;
    height: 10%;
    font-size: 16px;
    font-weight: 600;
    padding: 5px;
    margin: 10px 0px 5px 10px ;
  }
}

/* sm */
@media (max-width:640px) {

  .category-heading{
    width: 100%;
    height: 5%;
    font-size: 16px;
    font-weight: 600;
    padding: 5px;
    margin: 5px 0px 5px 5px ;

}

  .homepage-slider {
    /* z-index: 1; */
    top: 102px;
    position: relative;
    width: 100%;
    height: 90vh;
    overflow: hidden;
}
.homepage-slider .slide {
  position: absolute;
  width: 100%;
  height: 35%;
  background-size: cover;
  background-position: center;
  cursor: pointer;
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

.home-mask {
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, #E3E6E6 100%);
  width: 100%;
  position: absolute;
  /* bottom: 350px; */
  top: 110px;
  z-index: 2;
  height: 20vh;
}
  .box {
    position: relative;
    top: -55vh;
    border-radius: 3px;
    z-index: 7;
    width: 100%;
    height: fit-content;
    display: flex;
    flex-wrap: wrap;
    gap: 17px;
    justify-content: center;
    align-items: center;
  
  }

  .item1 ,.item2 ,.item3 ,.item4 ,.item5 , .item6,.item7 ,.item8 {
    width: 80%;
    height: 390px;
    border-radius: 1px;
    background-color: #ededed;
  }

  .adv-box{
    cursor: pointer;
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
  .adv-img{
    width: 195px;
}
.adv-img img{
    height: 110px;
    margin: 4px 4px 0px 4px ;
    width: 180px;
}
}

/* xsm*/
@media (max-width: 475px) {
  .item1 ,.item2 ,.item3 ,.item4 ,.item5 , .item6,.item7 ,.item8 {
    width: 90%;
    height: 360px;
    border-radius: 1px;
    background-color: #ffffff;
  } 
  .box {
    position: relative;
    top: -55vh;
    border-radius: 3px;
    z-index: 7;
    width: 100%;
    height: fit-content;
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: center;
    align-items: center;
  
  }
  .adv-img{
    width: 160px;
}
.adv-img img{
    height: 110px;
    margin: 4px 4px 0px 4px ;
    width: 153px;
}
}

/* xsm*/
@media (max-width: 360px) {
  .item1 ,.item2 ,.item3 ,.item4 ,.item5 , .item6,.item7 ,.item8 {
    flex-direction: column;
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10%;
    height: fit-content;
    border-radius: 1px;
    background-color: #ffffff;
  } 
  .box {
    position: relative;
    top: -55vh;
    border-radius: 3px;
    z-index: 7;
    width: 100%;
    height: fit-content;
    display: flex;
    flex-wrap: wrap;
    /* gap: 15px; */
    justify-content: center;
    align-items: center;
  
  }
  .adv-img{
    width: 100%;
}
.adv-img img{
    height: 120px;
    margin: 4px 4px 0px 4px ;
    width: 95%;
}

.product-img p{
  width: 220px;
  font-size: 12px;
}
.product-price{
  /* margin: 10px; */
  text-align: center;
  width: 100%;
  display: flex;
  align-items: start;
  justify-content: start;
  flex-direction: column;
}
.price{
  margin: 0px 5px ;
  font-size: 18px;
  font-weight: 500;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
}

